<h1>Please enter a new task</h1>
<form action="/tasks" method='post'>
<label for="task">Enter your task:</label>
<input type="text" name="tasks[title]">
<input type="submit">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
</form>
